<!DOCTYPE html>
<html>
<head>
    <title>Welcome Tom</title>
    <style>
        .title {
            font-size: 28px;
            font-weight: bold;
            color: blue;
        }
        .subtitle {
            color: red;
            font-size: 20px;
        }
        body {
            text-align: center;
            margin-top: 50px;
            font-family: Arial;
        }
    </style>
</head>
<body>

    <div class="title">Hello Tom!</div>
    <div class="subtitle">This is your second line in red 🎉</div>
    <div class="body">Flask is working!</br> this my 2nd line</div>

</body>
</html>